html {
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    direction: ltr;
    text-align: left;
}

header {
    position: relative;
    height: 100vh;
    background: url('https://media.istockphoto.com/id/674671588/photo/young-attractive-woman-in-adho-mukha-svanasana-pose-white-studi.jpg?s=612x612&w=0&k=20&c=PXQNjs18qeUE5w-RKUvADJsBkWlkIddqw6kbY4Z_zZg=') no-repeat center center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px;
}

header h1 {
    font-size: 4em;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #412D15;
}

header p {
    font-size: 4.7em;
    margin-top: 60px;
    position: absolute;
    left: 20px;
    top: 100px;
    color: #222;
}

.buy-btn {
    margin-top: 340px;
    margin-left: 20px;
    padding: 15px 25px;
    background-color:#412D15;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
}

.buy-btn:hover{
    background-color: #E1DCC9;
}

nav {
    position: absolute;
    top: 30px;
    right: 20px;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1em;
}

nav a:hover{
      color: #E1DCC9;
}

section{
    padding: 40px 20px;
    justify-content: flex-start;
    text-align: left;
    direction: ltr;
    font-size: x-large;
    color: #412D15;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#title {
       text-align: center;
       width: 100%;
       margin-bottom: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: #E1DCC9;
    color: #412D15;
    text-align: center;
}
   
.Contact Me {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color:#E1DCC9;
    color:#412D15;
}
 
@media (max-width: 1200px) {
    header h1 {
        font-size: 2.8em; 
    }
    header p {
        font-size: 2.8em; 
        top: 90px;
    }
    .buy-btn {
        margin-top: 250px; 
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
        top: 15px;
        left: 15px;
    }
    header p {
        font-size: 1.6em;
        top: 70px;
        left: 15px;
    }
    .buy-btn {
        margin-top: 200px;
        font-size: 0.9em;
        padding: 10px 20px;
    }
    nav a {
        margin-left: 10px;
        font-size: 0.9em;
    }
}